[user]
	name = mr8lu
[core]
	excludesfile = ~/.gitignore_global
[include]
	path = ~/.gitconfig.local
[includeIf "gitdir:~/development/work/"]
	path = ~/.gitconfig.work
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[url "git@github.com:"]
	insteadOf = https://github.com/
